/* Присвоює певні поля кожному елементу сторінки */
* {
    margin: 10px 25px;
}

/* Задає параметри класу large-font */
.large-font {
    font-size: 1.25em;
    background-color: #effcff;
}

/* Задає параметри класу middle-font */
.middle-font {
    font-size: 18px;
    background-color: RGB(255, 255, 238);
}

/* Задає параметри ідентифікатору small-font */
#small-font {
    font-size: 90%;
    background-color: lavenderblush;
}

/* Змінює перші літери кожного параграфу р, що є всередині індентифікатора company-info */
#company-info p:first-letter {
    font-size: 150%;
    color: #0000ff;
}

/* Задає стиль всім посиланням в блоці ідентифікатора authority */
#authority a {
    color: RGB(217, 0, 255);
    opacity: 70%;
}

/* Задає стиль всім посиланням в блоці ідентифікатора authority, що містять у собі "gov.ua" */
#authority a[href*="gov.ua"] {
    font-weight: bold;
    color: RGB(217, 0, 100);
}

/* Задає стиль усім заголовкам H3 на сторінці */
h3 {
    color: darkorange;
    background-color: #ffcd96;
}

/* Задає стиль комірок таблиці у div з індентифікатором finances */
#finances td {
    background-color: lightgoldenrodyellow;
}

/* Задає стиль блоку з індентифікатором customers */
#customers {
    border: 1px solid gold;
    box-shadow: 0 0 10px khaki;
}

/* Задає стиль усім посиланням-елементам списку ul, що міститься в nav */
nav ul li a {
    font-size: 1.2em;
    border: 1px solid red;
    background-color: #ff9f9f;
    color: darkred;
}

/* Змінює стиль відвіданих посилань в nav */
nav ul li a:visited {
    background-color: #c2ff9f;
    color: darkgreen;
}

/* Змінює стиль посилань, над якими наведено курсор, в nav */
nav ul li a:hover {
    background-color: #fff7a7;
    color: black;
}

#nav-block {
    padding: 2px 2px;
    margin: 0 0;
    border: 5px solid pink;
    overflow: hidden;
}

#nav-block > * {
    float: left;
}

#customers-services-block {
    padding: 5px 15%;
    margin: 5px 150px;
    border: 5px solid gold;
    overflow: hidden;
}

#customers-services-block > * {
    float: left;
}

#visual-media {
    padding: 5px 100px;
    margin: 5px 50px;
    border: 2px dashed plum;
    overflow: hidden;
}

#visual-media > * {
    float: left;
}

#overflow-sample {
    margin: 1% 20%;
    padding: 5px 15px;
    height: 100px;
    width: 700px;
    overflow: auto;
    border: 1px solid black;
}

#picture-background {
    margin: 3% 20%;
    padding: 10px 10px;
    border: 1px solid coral;

    width: 700px;
    color: white;
    background-image: url("https://t4.ftcdn.net/jpg/02/86/18/21/360_F_286182178_CsReLGXEhZbLMO6wnkpDW5kfcgW58o6A.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#newspaper-style {
    margin: 50px 50px;
    padding: 5px 5px;
    border: 1px dotted #3f00ab;

    column-count: 4;
    text-align: justify;
}

#cancel-button:enabled {
    background-color: red;
}

#cancel-button:disabled {
    background-color: palevioletred;
}

#save-button:enabled {
    background-color: lawngreen;
}

#save-button:disabled {
    background-color: lightgreen;
}

@font-face {
    font-family: 'Reggae One', cursive;
    src: url('../fonts/ReggaeOne-Regular.ttf')
}

#font-sample {
    margin: 20px 20%;
    padding: 20px 10px;
    border: 1px dotted #538db3;

    font-size: 20px;
    max-width: 900px;
    text-align: justify;
    font-family: 'Reggae One', cursive;
}

.image-in-text {
    width: 350px;
    float: right;
    margin: 5px 10px 0 10px;
}

#text-shadow-sample {
    text-shadow: 1px 1px 1px #993c00;
}

#background-sample {
    text-align: justify;
    overflow: hidden;

    margin: 45px 45px;
    padding: 15px 10px;
    border: 2px double olive;
    justify-content: center;
}

#background-sample > * {
    margin: 15px 25px;
    padding: 5px 10px;
    width: 350px;
    float: left;
    border: 1px dashed red;
}

#background-sample div:nth-child(1) {
    background-color: linen;
    border-radius: 50px;
}

#background-sample div:nth-child(2) {
    background-image: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/79/79aa1385a61bd6d47084ac1a78595638eb97ecde_full.jpg');
    background-repeat: repeat;
}

#background-sample div:nth-child(3) {
    background: -webkit-linear-gradient(top, red, orange, yellow, green, lightblue, blue, purple);
}

#block-translate {
    margin: 2% 10%;
    padding: 13px;
    border: 1px groove #40ff00;
}

#block-translate:hover {
    transform: translate(0, -5px);
}

#block-rotate {
    margin: 5% 8%;
    padding: 10px;
    border: 5px ridge #fffe70;
}

#block-rotate:hover {
    transform: rotate(10deg);
}

#block-scale {
    margin: 3% 6%;
    padding: 9px;
    border: 1px outset #c60000;
}

#block-scale:hover {
    transform: scale(1.1);
}

#hover-change {
    margin: 10% 25%;
    padding: 2%;
    border-style: dotted dashed solid double;

    width: 200px;
    height: 200px;
    background-color: red;
}

#hover-change:hover {
    background-color: blue;
    width: 500px;
}

